<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}
{% load irunner_next %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} &mdash; {{ system_short_name }}</title>

        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        {#<link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">#}
        <link href="{% static 'irunner2.css' %}?{{ REVISION }}" rel="stylesheet">
        <link href="{% static 'Highlight.js/styles/github.css' %}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="{% static 'html5shiv/html5shiv.min.js' %}"></script>
            <script src="{% static 'respond/respond.min.js' %}"></script>
        <![endif]-->

        <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'irunner2.js' %}?{{ REVISION }}"></script>
        <script src="{% url 'js_reverse' %}"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block allbody %}

            {% include 'navbar.html' %}

            <div class="container">
                {% block content %}
                {% endblock %}
            </div>

        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="ir-footer">
                    <div>{{ system_full_name }} #{{ REVISION }}</div>
                    <div>&copy; 2001&thinsp;&ndash;&thinsp;{% now "Y" %} {% trans 'DMA department of FAMCS BSU' %}</div>
                    <div>
                        <a href="{% url 'about' %}">{% trans 'About' context 'about the system' %}</a>
                        <a href="{% url 'language' %}?next={% irunner_next %}">Язык&thinsp;/&thinsp;Language</a>
                        <a href="{% url 'feedback:new' %}">{% trans 'Feedback' %}</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
