{% extends "users/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}
{% load irunner_pagination %}
{% load irunner_users %}

{% block sidebar %}
    {% trans "Users" as root_name %}
    {% irunner_folders_tree cached_trees 'users:show_folder' folder_id root_name %}
{% endblock %}

{% block main %}
    {% trans "Users" as root_name %}
    {% irunner_folders_breadcrumbs cached_trees 'users:show_folder' folder_id root_name %}
    <p>
        <a class="btn btn-default btn-sm" href="{% irunner_folders_url 'users:create_folder' folder_id %}" role="button">
            {% bootstrap_icon 'folder-open' %} <span class="ir-icon-label">{% trans 'Create folder' %}</span>
        </a>

        {% if can_delete_folder %}
            <a class="btn btn-default btn-sm" href="#" role="button">
                {% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete folder' %}</span>
            </a>
        {% endif %}

        <a class="btn btn-default btn-sm" href="{% irunner_folders_url 'users:create_user' folder_id %}" role="button">
            {% bootstrap_icon 'user' %} <span class="ir-icon-label">{% trans 'Create user' %}</span>
        </a>

        <a class="btn btn-default btn-sm" href="{% irunner_folders_url 'users:create_users_mass' folder_id %}" role="button">
            {% bootstrap_icon 'list' %} <span class="ir-icon-label">{% trans 'Mass registration' %}</span>
        </a>

        {% if has_users %}
            <div class="dropdown" style="display: inline-block;">
                <button class="btn btn-default btn-sm dropdown-toggle ir-checkbox-driven" type="button" data-toggle="dropdown" disabled>
                    {% bootstrap_icon 'check' %} <span class="ir-icon-label">{% trans 'Actions' %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="ir_move">{% bootstrap_icon 'transfer' %} <span class="ir-icon-label">{% trans 'Move' %}</span></a></li>
                    <li><a href="#" id="ir_delete">{% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span></a></li>
                    <li><a href="#" id="ir_swap">{% bootstrap_icon 'random' %} <span class="ir-icon-label">{% trans 'Swap first and last name' %}</span></a></li>
                </ul>
            </div>
        {% endif %}
    </p>
    {% irunner_folders_subfolders cached_trees 'users:show_folder' folder_id %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% if object_list %}
                {% irunner_users_list object_list pagination_context show_checkbox=True %}
            {% else %}
                <div class="ir-absence">
                    {% trans 'There are no users in the folder' %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
    $(document).ready(function () {
        irSetUpSelectAll();
        var here = '{{ request.path }}';
        $("#ir_move").click(function() { irPerformActionOnSelected('{% url "users:move" %}', here); });
        $("#ir_delete").click(function() { irPerformActionOnSelected('{% url "users:delete" %}', here); });
        $("#ir_swap").click(function() { irPerformActionOnSelected('{% url "users:swap_first_last_name" %}', here); });
    });
    </script>
{% endblock %}
