{% extends 'users/profile_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ page_title }} &mdash; {{ edited_user.username }}{% endblock %}

{% block main %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        {% bootstrap_form user_form layout='horizontal' %}
        {% bootstrap_form userprofile_form layout='horizontal' %}

        {% buttons layout='horizontal' %}
            <button type="submit" class="btn btn-default">
                {% trans 'Save' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
