/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color: #f5f5f5;
}

.ir-footer {
    margin: 8px 0;
    text-align: center;
    color: #777;
    font-size: 12px;
}
.ir-footer a {
    margin-left: 8px;
    margin-right: 8px;
}

/**
 * Course standings
 */
.ir-course-standings > thead:first-child > tr:first-child > th {
    border-top: 2px solid #ddd;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ir-course-standings tbody > tr > td {
    border: 1px solid #ddd;
    font-size: 12px;
}
.ir-course-standings thead > tr > th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
}
.ir-course-standings .ir-slot .ir-row1 {
    font-size: 12px;
}
.ir-course-standings .ir-slot .ir-row2 {
    font-size: 12px;
}
.ir-course-standings .ir-score {
    min-width: 40px;
}
.ir-course-standings .ir-letter {
    width: 20px;
}
.ir-course-standings > tbody > tr > td.ir-seq-no {
    text-align: right;
    padding-right: 4px;
    vertical-align: top;
}
.ir-course-standings > tbody > tr > .ir-subgroup-1 {
    border-left-color: #F7EBAD;
}
.ir-course-standings > tbody > tr > .ir-subgroup-2 {
    border-left-color: #D9EDF7;
}
.ir-course-standings > tbody > tr > .ir-subgroup-3 {
    border-left-color: #e1b16a;
}
.ir-course-standings > tbody > tr > td.ir-seq-no .ir-row2 {
    font-size: 12px;
    color: #ddd;
}
.ir-course-standings .ir-seq-no {
    border-left-width: 5px;
    border-left-color: #ddd;
}
.ir-me > td {
    background-color: #FFFFCC;
}
.ir-course-standings .ir-scorebox {
    min-width: 4em;
    border-radius: 2px;
    background-color: #ccc;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}
.ir-course-standings .ir-scorebox-accepted {
    color: white;
    background-color: #5cb85c;
}
.ir-course-standings .ir-problem-summary {
    padding-left: 8px;
    padding-right: 8px;
}
.ir-course-standings .ir-problem-summary span {
    color: #aa6708;
}
.ir-stripe > .ir-box {
    border-radius: 0;
}
.ir-stripe > .ir-box:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.ir-stripe > .ir-box:last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.ir-stripe-wide {
    margin-left: 2px;
    margin-right: 2px;
}

/**
 * Common tuning
 */
.ir-monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5 {
    margin-top: 4px;
}
h1 { font-size: 32px; line-height: 32px; }
h2 { font-size: 24px; line-height: 32px; }
h3 { font-size: 20px; line-height: 32px; }

.dl-horizontal dt {
    white-space: normal;
}

.ir-table-more-condensed > thead > tr > th,
.ir-table-more-condensed > tbody > tr > th,
.ir-table-more-condensed > tfoot > tr > th,
.ir-table-more-condensed > thead > tr > td,
.ir-table-more-condensed > tbody > tr > td,
.ir-table-more-condensed > tfoot > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
}

.ir-compact-table {
    font-size: 13px;
    line-height: normal;
}

.ir-icon-label {
    margin-left: 0.2em;
}

.ir-data {
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
}

.ir-last-name {
    font-weight: 600;
}

.ir-problem-statement {
    margin: 0.5em;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 140%;
}
.ir-problem-statement h1 {
    text-align: center;
    font-size: 150%;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #225A8D;
}
.ir-problem-statement h2 {
    font-size: 115%;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #225A8D;
}
.ir-problem-statement sup, sub {
    vertical-align: 0;
    position: relative;
}
.ir-problem-statement sup {
    bottom: 1ex;
}
.ir-problem-statement sub {
    top: 0.6ex;
}
.ir-problem-statement .inputs-outputs {
    border-collapse: collapse;
    width: 99%;
}
.ir-problem-statement .inputs-outputs td {
    border: 1px solid #888;
    background-color: #efefef;
    padding: 4px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    vertical-align: top;
    min-width: 300px;
    width: 50%;
}
.ir-problem-statement .inputs-outputs th {
    border: 1px solid #888;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    width: 50%;
}
.ir-problem-statement .infos {
    color: #aaa;
    text-align: center;
    font-size: 90%;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 100%;
}
.ir-problem-statement img {
    max-width: 100%;
}

/**
 * Programming Language Box
 */
.ir-langbox {
    border-radius: 4px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    width: 50px;
    display: inline-block;
}
.ir-langbox-cpp, .ir-langbox-c {
    /*background-color: #DD7E6B;*/
    background-color: #FFDDB6;
}
.ir-langbox-java {
    /*background-color: #FFE599;*/
    background-color: #FFFFB3;
}
.ir-langbox-pas, .ir-langbox-dpr {
    /*background-color: #A4C2F4;*/
    background-color: #d2e0f9;
}
.ir-langbox-py {
    /*background-color: #B4A7D6;*/
    background-color: #d8cef3;
}
.ir-langbox-cs {
    /*background-color: #B6D7A8;*/
    background-color: #C2F1D9;
}


/**
 * Language Select
 */
.ir-lang-fake-form {
    display: inline;
}
.ir-lang-fake-form input[disabled] {
    cursor: pointer;
}


/**
 * Judgement Box
 */
.ir-judgementbox {
    background-color: #f5f5f5;
    color: #333;
    min-width: 4.5em;
    border-radius: 2px;
    font-size: 0.9em;
    font-weight: bold;
}

.ir-judgementbox-ok {
    color: #5cb85c;
    background-color: #dff0d8;
}
.ir-judgementbox-fail {
    color: #d9534f;
    background-color: #f2dede;
}


/**
 * Progress bars with centered text
 */

.ir-limit-progressbar {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.ir-limit-progressbar-filling {
    background-color: #d9edf7;
}

.ir-limit-progressbar span {
    position: absolute;
    display: block;
    width: 100%;
    color: #444;
}

/**
 * Table Column
 */
.ir-col-limit {
    width: 120px;
    text-align: center;
}

.ir-col-score {
    width: 80px;
    text-align: center;
}

.ir-col-outcome {
    width: 80px;
    text-align: center;
}
.ir-col-outcome-wide {
    text-align: left;
    width: 300px;
}
.ir-col-no {
    width: 50px;
    text-align: right;
}

.ir-col-msg {
    max-width: 0;
}

.ir-col-code {
    width: 100px;
    text-align: center;
}

.ir-checker-msg {
    white-space: pre;
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.ir-col-sourcelink {
    width: 170px;
}


/**
 * Tabs
 */
.ir-tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.ir-pill-content {
    padding-top: 10px;
}


/**
 * Difficulty box
 */
.ir-difficultybox {
    display: inline-block;
    background: #d9edf7;
    border-color: #d9edf7;
    color: #337ab7;
    height: 1.4em;
    position: relative;
    font-weight: 700;
    font-size: 0.9em;
    margin-right: 0.5em;
    width: 1.6em;
    text-align: center;
}
.ir-difficultybox:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 0.7em 0 0.7em 5px;
    border-left-color: inherit;
}
.ir-difficultybox-used {
    color: #333;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}
/**
 * Right pills
 */
.ir-inline-block {
    display: inline-block;
}
.ir-condensed-pills > li > a {
    padding: 6px 8px;
}
.ir-pagination-no-margin {
    margin: 0;
}

/**
 * Mass reg
 */
.ir-mass-field {
}


/**
 * Feedback messages list
 */
.ir-float-right {
    float: right;
}
.ir-float-parent {
    overflow: hidden;
}


/**
 * Panels
 */
.ir-panel-heading {
    padding: 6px 15px;
}


/**
 * Log in/out form
 */
.ir-login-panel {
    max-width: 340px;
    margin: 0 auto;
}


/**
 * Sheet
 */
.ir-sheet table, .ir-sheet td, .ir-sheet th {
    border: 1px solid #ccc;
}
.ir-sheet td, .ir-sheet th {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    padding: 0 4px;
    margin: 0;
}
.ir-sheet th {
    text-align: center;
    padding: 4px 6px;
    font-size: 12px;
}
.ir-score {
    text-align: right;
}
.ir-sheet td:focus {
    background-color: #D9EDF7;
}
.ir-sheet-editable-mark {
    text-align: right;
}
.ir-sheet-view .ir-sheet-bad {
    color: #d9534f;
}

/**
 * Two-panel multi choose
 */
.ir-twopanel-tab {
    min-height: 320px;
}
.ir-twopanel-tab > option {
    color: #000;
}
.ir-twopanel-tab > option:disabled {
    color: #ccc;
}


/**
 *
 */
.ir-opt {
    color: #000;
}
.ir-opt-gray {
    color: #ccc;
}

.ir-icon-links {
    font-size: 1.1em;
}

.ir-assignment {
    margin-bottom: 20px;
    width: 100%;
}
.ir-assignment > tbody > tr > td {
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: top;
}
.ir-assignment > div {
    padding: 6px 8px;
}
.ir-assignment > ul > li {
    padding: 6px 8px;
}
.ir-assignment .input-group-addon {
    padding: 4px 8px;
}
.ir-assignment .form-control {
    padding: 4px 8px;
}
.ir-assignment .form-group {
    margin-bottom: 4px;
}
.ir-assignment select.form-control {
    height: 28px;
}
.ir-assignment .checkbox {
    margin-top: 0;
    margin-bottom: 4px;
}
.ir-assignment .ir-topic {
    background-color: #fafafa;
    width: 140px;
}
.ir-assignment .ir-topic .ir-topic-name {
    font-weight: bold;
    padding-right: 20px;
}
.ir-assignment .ir-topic .ir-penalty-link {
    margin-top: 4px;
    font-size: 11px;
}
.ir-assignment .ir-penalty {
    background-color: #FCF8E3;
}
.ir-assignment .ir-slot-penalty-cell {
    background-color: #fcf8e3;
}
/*
Yellow menu
*/
.ir-list-group-warning .active, .ir-list-group-warning .active:hover, .ir-list-group-warning .active:focus {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.ir-huge {
    font-size: 40px;
}

.ir-no-margin {
    margin: 0;
}

.ir-pagination {
    margin-bottom: 10px;
    margin-top: 0;
}
.ir-pagination > li > span,
.ir-pagination > li > a {
    padding: 4px 8px;
}
.ir-pagination > li > span,
.ir-pagination > li > span:hover,
.ir-pagination > li > span:focus {
    color: #ddd;
    background-color: #fff;
}
.ir-pagination > li > a,
.ir-pagination > li > a:hover,
.ir-pagination > li > a:focus {
    color: #000;
}
.ir-pagination > li > span.ir-selected,
.ir-pagination > li > span.ir-selected:hover,
.ir-pagination > li > span.ir-selected:focus {
    color: black;
    font-weight: bold;
}
.ir-pagination > li > span.ir-info,
.ir-pagination > li > span.ir-info:hover,
.ir-pagination > li > span.ir-info:focus {
    color: #333;
}


.ir-pre {
    padding: 0;
    background-color: #fff;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

.ir-toggle-row {
    cursor: pointer;
}
.ir-arrow {
    color: #ddd;
}
.ir-file-size {
    color: #bbb;
    font-size: 0.8em;
}
.ir-ajax-message {
    padding: 40px;
    text-align: center;
    color: #aaa;
    font-style: italic;
}
.ir-hidden-data {
    padding-left: 40px;
}

.ir-solution-nav-pills > li > a {
    padding: 4px 15px;
}
.ir-solution-nav-pills {
    display: inline-block;
    /*margin-top: 4px;
    margin-bottom: 10px;*/
}

.ir-solution-panel {
    /*margin-bottom: 0;*/
}
.ir-solution-panel dl {
    /*margin-bottom: 0;*/
}

/**
 * old iRunner-like folder tree
 */
.ir-folder-tree {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ir-folder-tree ul {
    list-style-type: none;
    margin: 2px;
    padding-left: 10px;
}
.ir-folder-tree li {
    font-size: 12px;
}
.ir-folder-tree .ir-bullet {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * criterion
 */
.ir-box {
    display: inline-block;
    text-align: center;
}

.ir-criterion {
    font-weight: bold;
    font-size: 0.9em;
    min-width: 1.3em;
    border-radius: 2px;
    background-color: #eee;
    color: white;
}

.ir-criterion-yes {
    background-color: #5cb85c;
    color: white;
}

.ir-criterion-no {
    background-color: #ccc;
    color: white;
}

.ir-criterion-editable {
    cursor: pointer;
}

/*
 * Solution filter
 */
.ir-solution-filter > select {
    min-width: 200px;
    max-width: 200px;
    padding: 4px 12px;
    height: auto;
}
.ir-solution-filter > input {
    min-width: 160px;
    max-width: 160px;
    padding: 3px 12px;
    height: auto;
}
.ir-solution-filter > button {
    padding: 3px 12px;
    height: auto;
}
.ir-solution-filter {
    background-color: #efefef;
    text-align: right;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 7px;
}

/**
 * User interface language
 */
.navbar-nav > li > form > input[type="submit"] {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
@media (min-width: 768px) {
    .navbar-nav > li > form > input[type="submit"] {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-nav > li > .ir-current-time {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 20px;
    color: #777;
}
@media (min-width: 768px) {
    .navbar-nav > li > .ir-current-time {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/**
 * Red menu
 */
.ir-list-group-danger .active, .ir-list-group-danger .active:hover, .ir-list-group-danger .active:focus {
    background-color: #d9534f;
    border-color: #d9534f;
}

/*
 * No objects message
 */
div.ir-absence {
    padding: 20px 10px;
    text-align: center;
    font-style: italic;
}
span.ir-absence {
    font-style: italic;
}
.ir-activity-plot {
    height: 300px;
}

/**
 * Score box
 */
.ir-scorebox {
    min-width: 4em;
    border-radius: 2px;
    background-color: #f5f5f5;
    color: #888;
    font-size: 0.9em;
}
/*.ir-scorebox-accepted {
    color: #5cb85c;
    background-color: #dff0d8;
}*/


/**
 * Solutions
 */
.ir-col-time {
    min-width: 140px;
}


.ir-best-solution {
    font-size: 12px;
    margin-top: 10px;
}

.ir-subgroup-label {
    color: #ccc;
}

.ir-folders-search {
    margin-bottom: 10px;
}

/*
 * Choose subgroup in course settings
 */
.ir-choose-subgroup .radio {
    margin-left: 10px;
    margin-right: 10px;
}

/**
 * List of problems in course assignment page
 */
.ir-topic-problems-list th, .ir-topic-problems-list td {
    font-size: 12px;
    padding-right: 4px;
    padding-left: 4px;
    vertical-align: middle;
}
.ir-topic-problems-list th {
    border-bottom: 2px solid #ddd;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 30px;
    padding-top: 2px;
}
.ir-topic-problems-list > tbody > tr > td > button {
    line-height: 1;
}
.ir-topic-problems-list .ir-full-width {
    width: 100%;
}

.ir-fake-panel {
    border: 1px solid #428bca;
    border-left-width: 5px;
    border-radius: 3px;
    padding: 10px;
    font-size: 12px;
    margin-top: 8px;
    background-color: white;
}

.ir-penalty-p {
    padding: 10px;
    margin-bottom: 10px;
}
.ir-problem-used a {
    color: #ddd;
}
.ir-problem-used-me a {
    color: #5cb85c;
}

.ir-button-before-text {
    margin-right: 10px;
    min-width: 120px;
}

/**
 * Messaging system
 */
.ir-mail-message {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.ir-mail-message-unread {
    border-left-color: #ce4844;
}
.ir-mail-message-author {
    float: left;
    font-weight: bold;
}
.ir-mail-message-date {
    float: right;
    color: #888;
}
.ir-mail-message-attachment {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.ir-mail-message-heading {
    overflow: hidden;
    padding-bottom: 10px;
}

.ir-mail-thread {
    padding: 4px 15px;
}
.ir-mail-thread-subject-unread {
    font-weight: bold;
    color: #ce4844;
}
.ir-mail-thread-problem {
    color: #bbb;
    font-size: 11px;
}
.ir-mail-thread-author {
    color: #bbb;
    font-size: 11px;
}
.ir-mail-thread-date {
    float: right;
    color: #888;
    font-size: 11px;
}
.active .ir-mail-thread-date {
    color: #eee;
}

/**
 * Actions that appear on hover
 */
.ir-appear-on-hover {
    visibility: hidden;
}
tr:hover .ir-appear-on-hover {
    visibility: visible;
}

/**
 * Group of icons
 */
.ir-icons span {
    margin-left: 4px;
    margin-right: 4px;
}
.ir-icons a {
    color: #f0ad4e;
}
.ir-icons a:hover, .ir-icons a:focus {
    color: #8a6d3b;
}

/**
 * List of files per problem
 */

.ir-problem-files-table .ir-col-actions {
    width: 120px;
    text-align: center;
}

.ir-problem-files-table .ir-col-filename {
    width: 250px;
}

.ir-problem-files-table .ir-col-filetype {
    width: 230px;
}

.ir-problem-files-table .ir-col-compiler {
    width: 1%;
    text-align: center;
}

/**
 * Test description images
 */
.ir-image-gallery {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-spacing: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.ir-image-gallery img {
    max-width: 100%;
    max-height: 100%;
}
.ir-image-gallery > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
.ir-image-gallery-vertical {
    table-layout: fixed;
    width: 100%;
}


.ir-fit-image {
    max-width: 100%;
    max-height: 100%;
}

.ir-test-description {
    font-size: 12px;
    background-color: #fcf8e3;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.ir-test-description a {
    color: #8a6d3b;
}

.ir-imagebox {
    padding: 4px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.ir-imagebox > div {
    display: table;
}
.ir-imagebox > div > div {
    display: table-cell;
    min-width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}
.ir-imagebox img {
    max-height: 100%;
    width: auto;
}

/*
 * TeX editor
 */
.ir-tex-editor .btn-toolbar {
    margin-bottom: 10px;
    margin-top: 10px;
}
.ir-tex-pre {
    border: 0;
    font-size: 11px;
}
.ir-tex-log {
    min-height: 80px;
}


/*
 * Prev-next folder nav
 */
.ir-navigator {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.ir-navigator > div {
    display: table-row;
}
.ir-navigator > div > div, .ir-navigator > div > a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #555;
}
.ir-navigator > div > a:hover {
    background-color: #eee;
}
.ir-navigator > div > a:first-child {
    border-left: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 45px;
}
.ir-navigator > div > div > span {
    color: #ccc;
}
.ir-navigator > div > a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 45px;
}

.ir-problem-heading {
    text-align: center;
}
.ir-problem-heading .ir-problem-name {
    font-size: 20px;
    margin-bottom: 10px;
    color: #225A8D;
}
.ir-problem-heading .ir-problem-constraints {
    color: #aaa;
    font-size: 12px;
    line-height: 16px;
}

/**
 * Test info fake table
 */
.ir-test-info > tbody > tr > td:first-child {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}
.ir-test-info > tbody > tr > td:last-child {
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
}
.ir-test-info {
    margin-bottom: 16px;
    margin-top: 16px;
}


/**
 * Tests list
 */
.ir-clickable-row {
    cursor: pointer;
}

/**
 * Test edit
 */
.ir-test-limits {
    width: 100%;
}
.ir-test-limits > tbody > tr > td {
    vertical-align: middle;
}
.ir-test-limits > tbody > tr > td:first-child {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    padding-right: 8px;
}
.ir-test-limits .form-control {
    min-width: 100px;
    max-width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.ir-test-limits .form-group {
    margin: 0;
    display: inline-block;
}


/**
 * All problem images
 */
.ir-browse-image {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: #f8f8f8;
}
.ir-browse-image-data {
    height: 200px;
    margin: 4px;
}


/* Difflib HTML diff */
.ir-difflib table {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #c0c0c0;
    margin-bottom: 15px;
}
.ir-difflib td {
    border: 1px solid #eeeeee;
    white-space: pre-wrap;
    vertical-align: top;
}
.ir-difflib .diff_header {
    padding-left: 2px;
    padding-right: 2px;
    text-align: right;
    font-weight: bold;
    background-color: #fafafa;
}
.ir-difflib .diff_next {
    text-align: center;
    background-color: #fafafa;
    border-left: 2px solid #c0c0c0;
}
.ir-difflib .diff_next a {
    padding-left: 1px;
    padding-right: 1px;
    text-transform: uppercase;
    background-color: #d9edf7;
}
.ir-difflib .diff_add {
    background-color: #ddffdd;
}
.ir-difflib .diff_chg {
    background-color: #fdfebc;
}
.ir-difflib .diff_sub {
    background-color: #f8e4cc;
}
.ir-difflib span {
    display: inline-block;
}
.ir-difflib tbody {
    border-top: 2px solid #c0c0c0;
}

.ir-solution-timedelta {
    font-style: italic;
    color: #aaa;
    text-align: left;
    vertical-align: middle !important;
}

.ir-timeline {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    background-color: white !important;
}
.ir-timeline-1 {
    width: 12px;
    border-right: 2px solid #d9edf7;
}
.ir-timeline-2 {
    width: 12px;
}
.ir-timeline-dot {
    display: inline-block;
    background-color: #d9edf7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    left: 8px;
}
.ir-timeline-dot-active {
    display: inline-block;
    background-color: #337ab7;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    left: 7px;
}
.ir-row-space {
    background-color: #f8f8f8;
}

/**
 * Progress bar
 */
.ir-progress {
    max-width: 320px;
}
.ir-progress-good {
    background-color: #5cb85c;
}
.ir-progress-bad {
    background-color: #d9534f;
}
.ir-progress-neutral {
    background-color: #f0ad4e;
}


/**
 * Dotted href
 */
.ir-dotted {
    border-bottom: dotted 1px #337ab7;
}
.ir-dotted, .ir-dotted:hover, .ir-dotted:active, .ir-dotted:visited, .ir-dotted:link {
    text-decoration: none;
}

/**
 * Validation status
 */
.ir-valid-true {
    color: #5cb85c;
}
.ir-valid-false {
    color: #d9534f;
}
.ir-valid-unk {
    color: #ccc;
}


.ir-challenge-file {
    padding: 12px;
    margin-top: 0;
    margin-bottom: 16px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #f0ad4e;
    border-radius: 3px;
}


/*
Green menu
*/
.ir-list-group-success .active, .ir-list-group-success .active:hover, .ir-list-group-success .active:focus {
    background-color: #5cb85c;
    border-color: #5cb85c;
}


.ir-compiler-legacy {
    color: #ccc;
}

/**
 * Contest standings
 */
.ir-contest-standings {
    width: 100%;
    line-height: 13px;
    border-collapse: collapse;
    font-size: 13px;
    font-family: "Tahoma", "Geneva", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ir-contest-standings td, .ir-contest-standings th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 2px;
}
.ir-contest-standings th {
    border-bottom: 3px solid #ddd;
}
.ir-contest-standings .ir-accepted {
    color: #5cb85c;
    font-weight: bold;
}
.ir-contest-standings .ir-rejected {
    color: #d9534f;
}
.ir-contest-standings .ir-pending {
    color: #f0ad4e;
}
.ir-contest-standings .ir-ts {
    color: #333;
    font-size: 10px;
}
.ir-contest-standings .ir-row-odd > td {
    /*background-color: #EBEFF2;*/
    background-color: #f4f4f6;
}
.ir-contest-standings .ir-row-even > td {
    /*background-color: #CBDBEA;*/
    /*background-color: #f8f8f8;*/
    background-color: #ffffff;
}
.ir-contest-standings .ir-column-place {
    text-align: right;
    padding-right: 4px;
}
.ir-contest-standings .ir-column-penalty {
    text-align: right;
}
.ir-contest-standings .ir-column-contestant {
    text-align: left;
}
.ir-contest-standings .ir-problem-name {
    font-weight: normal;
    font-size: 11px;
}

.ir-contest-standings-header {
    text-align: center;
}
.ir-contest-standings-header .ir-frozen {
    color: #777;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ir-contest-standings-header .ir-last {
    font-size: 12px;
    color: #777;
}

.ir-contest-timing {
    text-align: center;
}
.ir-contest-timing .ir-state {
    font-weight: bold;
}
.ir-contest-timing .ir-time {
    color: #3c763d;
}
