{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_api %}

{% block content %}
    <h2>{% block title %}{% trans 'Queue' %}{% endblock %}</h2>

    <form method="post">
        {% csrf_token %}
        {% irunner_api_queue new_objects show_checkboxes=True %}
        {% buttons %}
            <button type="submit" class="btn btn-warning ir-checkbox-driven" disabled>
                {% bootstrap_icon 'repeat' %} <span class="ir-icon-label">{% trans 'Restart' context 'verb' %}</span>
            </button>
        {% endbuttons %}
    </form>

    <hr>

    <h3>{% trans 'Last completed jobs' %}</h3>
    {% irunner_api_queue last_objects show_checkboxes=False %}

    <script>
        jQuery(document).ready(irSetUpSelectAll);
    </script>
{% endblock %}
