{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load irunner_mass %}
{% load i18n %}

{% block main %}
    <h2>{% trans 'Batch editing' %} <small>({{ ids|length }} {% blocktrans count counter=ids|length %}test{% plural %}tests{% endblocktrans %})</small></h2>
    <form method="post" action="{% url url_pattern problem.id %}{{ navigator.query_string }}">
        {% csrf_token %}
        {% irunner_mass_hidden ids %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        {% endbuttons %}
    </form>
{% endblock %}
