{% load i18n %}
{% load irunner_problems %}

<div class="ir-problem-heading">
    <div class="ir-problem-name">{% if problem.difficulty %}{% irunner_problems_difficulty problem.difficulty %} {% endif %}{% trans 'Problem' %} {{ problem.numbered_full_name }}</div>
    <div class="ir-problem-constraints">
        {% trans 'Input file name' %}: {% irunner_problems_inputfile problem.input_filename %}<br>
        {% trans 'Output file name' %}: {% irunner_problems_outputfile problem.output_filename %}<br>
        {% if time_limit %}
            {% trans 'Time limit' %}: {{ time_limit }}<br>
        {% endif %}
        {% if memory_limit %}
            {% trans 'Memory limit' %}: {{ memory_limit }}<br>
        {% endif %}
    </div>
</div>
