{% extends 'problems/base.html' %}

{% load i18n %}
{% load irunner_problems %}
{% load bootstrap3 %}

{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% trans 'Main properties' %}
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            {% if problem.get_formatted_number %}
                <dt>{% trans 'Number' %}</dt>
                <dd>{{ problem.get_formatted_number }}</dd>
            {% endif %}

            {% if problem.short_name and problem.full_name != problem.short_name %}
                <dt>{% trans 'Full name' %}</dt>
                <dd>{{ problem.full_name }}</dd>

                <dt>{% trans 'Short name' %}</dt>
                <dd>{{ problem.short_name }}</dd>
            {% else %}
                <dt>{% trans 'Name' %}</dt>
                <dd>{{ problem.full_name }}</dd>
            {% endif %}

            {% if problem.difficulty != None %}
                <dt>{% trans 'Difficulty level' %}</dt>
                <dd>{% irunner_problems_difficulty problem.difficulty %}</dd>
            {% endif %}
        </dl>

        <dl class="dl-horizontal">
            <dt>{% trans 'Folders' %}</dt>
            <dd>
                {% if folders %}
                    <ul class="list-unstyled">
                        {% for folder in folders %}
                            <li><a href="{% url 'problems:show_folder' folder.id %}">{{ folder.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="{% url 'problems:show_folder' 'root' %}">{% trans 'no' %}</a>
                {% endif %}
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>{% trans 'Input' %}</dt>
            <dd>{% irunner_problems_inputfile problem.input_filename %}</dd>

            <dt>{% trans 'Output' %}</dt>
            <dd>{% irunner_problems_outputfile problem.output_filename %}</dd>
        </dl>

        {% with problem.problemextrainfo as extra %}
            {% if extra %}
                <dl class="dl-horizontal">
                    {% if extra.description %}
                        <dt>{% trans 'Description' %}</dt>
                        <dd>{{ extra.description }}</dd>
                    {% endif %}
                    {% if extra.hint %}
                        <dt>{% trans 'Hint' %}</dt>
                        <dd>{{ extra.hint }}</dd>
                    {% endif %}
                </dl>
            {% endif %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ir-huge">
                            {% bootstrap_icon 'list-alt' %}
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="ir-huge">{{ test_count }}</div>
                        <div>{% blocktrans count counter=test_count %}test{% plural %}tests{% endblocktrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ir-huge">
                            {% bootstrap_icon 'tasks' %}
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="ir-huge">{{ solution_count }}</div>
                        <div>{% blocktrans count counter=solution_count %}solution{% plural %}solutions{% endblocktrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ir-huge">
                            {% bootstrap_icon 'paperclip' %}
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="ir-huge">{{ file_count }}</div>
                        <div>{% blocktrans count counter=file_count %}file{% plural %}files{% endblocktrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
