{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_proglangs %}
{% load irunner_solutions %}
{% load irunner_pagination %}
{% load irunner_users %}
{% load widget_tweaks %}

{% block main %}

<form method="get" class="form-inline">
    <div class="ir-solution-filter">
        {% for name, value in navigator.query_params %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endfor %}

        {% render_field form.compiler class='form-control' %}
        {% render_field form.state class='form-control' %}
        <button type="submit" class="btn btn-default">
            {% trans 'Apply' %}
        </button>
    </div>
</form>

<form method="post" target="_blank" action="{% url 'solutions:create_rejudge' %}">
    {% csrf_token %}
    {% irunner_pagination pagination_context %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectall"></th>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'Submission time' %}</th>
                <th>{% trans 'File' %}</th>
                <th>{% trans 'Status' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for solution in object_list %}
            <tr>
                <td><input type="checkbox" class="ir-checkbox" name="id" value="{{ solution.id }}"></td>
                <td>{% irunner_users_show solution.author %}</td>
                <td>{{ solution.reception_time }}</td>
                <td class="text-nowrap">{% irunner_solutions_sourcelink solution %}</td>
                <td class="text-nowrap">
                    <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_judgementbox solution.best_judgement tooltip=True %}</a>
                    <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_scorebox solution.best_judgement %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% buttons %}
        <button type="submit" class="btn btn-default ir-checkbox-driven" id="ir_rejudge_button" disabled>
            {% bootstrap_icon 'repeat' %} <span class="ir-icon-label">{% trans 'Rejudge' context 'verb' %}</span>
        </button>
        <button type="button" class="btn btn-default" id="ir_compare_button" title="{% trans 'Check two solutions to compare.' %}" disabled>
            {% bootstrap_icon 'transfer' %} <span class="ir-icon-label">{% trans 'Compare solutions' %}</span>
        </button>
    {% endbuttons %}
</form>

<script>
    function setButtonStates() {
        var checkboxes = $(".ir-checkbox");
        var numSelected = checkboxes.filter(":checked").length;
        $("#ir_rejudge_button").prop("disabled", numSelected === 0);
        $("#ir_compare_button").prop("disabled", numSelected !== 2);
    }
    function compareButtonClick() {
        var ids = $(".ir-checkbox:checked").map(function() {
            return $(this).val();
        }).toArray();
        if (ids.length === 2) {
            window.location.href = "{% url 'solutions:compare' %}?first=" + ids[1] + "&second=" + ids[0];
        }
    }
    $(document).ready(function() {
        setButtonStates();
        $("#ir_compare_button").click(compareButtonClick);
        $("#selectall").change(function() {
            $(".ir-checkbox").prop("checked", this.checked);
            setButtonStates();
        });
        $(".ir-checkbox").change(function () {
            var checkboxes = $(".ir-checkbox");
            var numSelected = checkboxes.filter(":checked").length;
            var check = (numSelected == checkboxes.length);
            $("#selectall").prop("checked", check);
            setButtonStates();
        });
    });
</script>

{% endblock %}
