{% extends 'problems/base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p class="text-center">
        <button type="submit" class="btn btn-default btn-lg">{% bootstrap_icon 'send' %} <span class="ir-icon-label">{% trans 'Send' %}</span></button>
    </p>
</form>
{% endblock %}
