{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Problems' %}{% endblock %}

{% block head %}
    <link href="{% static 'fancytree-2.13.0/skin-win8/ui.fancytree.min.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables-1.10.10/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'fancytree-2.13.0/jquery.fancytree-all.min.js' %}"></script>
    <script src="{% static 'DataTables-1.10.10/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'DataTables-1.10.10/media/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<script>
var irSourceData = {{ tree_data|safe }};

function setFolderHeader(json) {
    var name = json["name"] || "";
    $("#foldername").text(name);

    var id = json["id"];
    if (id) {
        var urlMask = "{% url 'problems:show_tree_folder' 12345 %}".replace(/12345/, id);
        history.pushState({}, name, urlMask);
    }
}

$(document).ready(function() {
    $("#datatable").DataTable({
        "language": {
            "url": "{% static 'DataTables-1.10.10/i18n' %}/{{ LANGUAGE_CODE }}.json"
        },
        "autoWidth": false,
        {% if table_data %}
            "data": {{ table_data|safe }}
        {% endif %}
    });

    var fancyTree = $("#tree").fancytree({
        source: irSourceData
    });

    {% if cur_folder_id %}
        $("#tree").fancytree("getTree").activateKey("{{ cur_folder_id }}");
    {% endif %}

    fancyTree.bind("fancytreeactivate", function(event, data) {
        var node = data.node;
        var urlMask = "{% url 'problems:show_tree_folder_json' 12345 %}".replace(/12345/, node.key.toString());
        $("#datatable").dataTable().api().ajax.url(urlMask).load(setFolderHeader);
    });
});
</script>

<div class="row">
    <div class="col-md-3">
        <div id="tree"></div>
    </div>
    <div class="col-md-9">
        <h3 id="foldername">{{ cur_folder_name }}</h3>
        <table id="datatable" class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% endblock %}
