{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block subtitle %}{% trans 'Messages' %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'courses:messages_new' course.id %}" class="list-group-item active">
                    {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Compose' %}</span>
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form thread_form %}
                {% bootstrap_form message_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-default">
                        {% trans 'Send' %}
                    </button>
                {% endbuttons %} 
            </form>
        </div>
    </div>

{% endblock %}
