{% extends 'courses/settings_base.html' %}

{% load i18n %}
{% load irunner_courses %}
{% load irunner_problems %}

{% block submain %}
    <h3>{% trans 'Topics' %}</h3>
    {% if object_list %}
        <ul>
        {% for topic in object_list %}
            <li>
                <a href="{% url 'courses:course_settings_topics_update' course.id topic.id %}">{{ topic.name }}</a>
                <dl class="dl-horizontal">
                    <dt>{% trans 'Folder' %}</dt>
                    <dd>
                        {% if topic.problem_folder %}
                            &laquo;{{ topic.problem_folder }}&raquo;
                            ({% blocktrans count counter=topic.problem_folder.problem_set.count %}{{ counter }} problem{% plural %}{{ counter }} problems{% endblocktrans %})
                        {% else %}
                            &mdash;
                        {% endif %}
                    </dd>

                    <dt>{% trans 'To assign' %}</dt>
                    <dd>{% blocktrans count counter=topic.slot_set.count %}{{ counter }} problem{% plural %}{{ counter }} problems{% endblocktrans %}</dd>

                    <dt>{% trans 'Criteria' %}</dt>
                    <dd>
                        {% for criterion in topic.criteria.all %}
                            {% irunner_courses_criterion criterion True tooltip=True %}
                        {% endfor %}
                    </dd>
                </dl>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {% trans 'No topics.' %}
    {% endif %}
    <p>
        <a href="{% url 'courses:course_settings_topics_create' course.id %}">{% trans 'New topic' %}</a>
    </p>

    <h3>{% trans 'Common problems' %}</h3>
    <p class="help-block">
        {% trans 'These problems are not assigned individually. Every student can solve them.' %}
    </p>

    <ul>
        {% for problem in common_problems %}
            <li>
                {% irunner_problems_difficulty problem.difficulty %}
                <a href="{% url 'courses:course_problems_problem' course.id problem.id %}">{{ problem.numbered_full_name }}</a>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'courses:course_settings_common_problems' course.id %}">{% trans 'Edit the list' %}</a></p>
{% endblock %}
