{% extends 'courses/settings_base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block submain %}
    <h3>{% trans 'Edit common problems list' %}</h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
            <button type="submit" class="btn btn-default">
                {% trans 'Save' %}
            </button>
            <a href="{% url 'courses:course_settings_problems' course.id %}" role="button" class="btn btn-default">
                {% trans 'Cancel' %}
            </a>
        {% endbuttons %}
    </form>
{% endblock %}
