{% extends 'contests/settings_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block submain %}
    <h3>{{ name_plural }}</h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
            <a href="{% url 'contests:settings_users' contest.id %}" class="btn btn-default">
                {% trans 'Cancel' %}
            </a>
        {% endbuttons %}
    </form>
{% endblock %}
