{% if it_data %}
    {# irunner-like tree #}
    <div class="ir-folder-tree">
        <ul>
    {% for item in it_data %}
        {% if item.kind == '(' %}
            <li><ul>
        {% elif item.kind == ')' %}
            </ul></li>
        {% else %}
            <li>
                <span class="ir-bullet">
                {% if item.kind == '+' %}
                    +
                {% elif item.kind == '-' %}
                    &minus;
                {% else %}
                    &middot;
                {% endif %}
                </span>
                {% if item.breadcrumb.is_link %}<a href="{% url url_pattern item.breadcrumb.folder_id_or_root %}">{% else %}<strong>{% endif %}
                    {{ item.breadcrumb.name }}
                {% if item.breadcrumb.is_link %}</a>{% else %}</strong>{% endif %}
            </li>
        {% endif %}
    {% endfor %}
        </ul>
    </div>
{% endif %}

{% if ft_data %}
    {# FancyTree tree #}
    <div id="{{ uid }}"></div>

    <script>
        $(document).ready(function() {
            var fancyTree = $("#{{ uid }}").fancytree({
                source: {{ ft_data|safe }}
            });
            {% if folder_id_or_root %}
                $("#{{ uid }}").fancytree("getTree").activateKey("{{ folder_id_or_root }}");
            {% endif %}
            fancyTree.bind("fancytreeactivate", function(event, data) {
                location.href = Urls["{{ url_pattern }}"](data.node.key.toString());
            });
        });
    </script>
{% endif %}
