{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Edit profile' %}{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}

        {% bootstrap_form user_form layout='horizontal' %}
        {% bootstrap_form userprofile_form layout='horizontal' %}

        {% buttons layout='horizontal' %}
            <button type="submit" class="btn btn-default">
                {% trans 'Save' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
