{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
    {% endbuttons %}
</form>

{% endblock %}
